[alias]
  logs = log --show-signature
  shows = show --show-signature
  tags = tag --sign
[color]
  branch = auto
  diff = auto
  interactive = auto
  pager = true
  status = auto
  ui = true
[core]
  editor = nvim
[credential]
  helper = !aws codecommit credential-helper $@
  UseHttpPath = true
[diff]
  colorMoved = zebra
[fetch]
  prune = true
[pull]
  rebase = true
[user]
  name = Varun Chandran
  email = varunmc@blbr.ai
[push]
	autoSetupRemote = true
	default = simple
